.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;
  background-image: url('./landingpageimage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF;

  h1 {
    font-size: 3rem;
    color: #FFFFFF;
    margin-top: 100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }

  p {
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }

  .button-container {
    display: flex;
    gap: 20px; /* Espacio entre los botones */
    margin-top: 500px;
  }
  
  button {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:nth-child(1) {
    background-color: #00D950; /* Verde para el botón de Iniciar */
  }
  
  button:nth-child(2) {
    background-color: #BF2000; /* Rojo para el botón de Registrarse */
  }
  
  button:hover {
    opacity: 0.9; /* Ligero efecto de opacidad al pasar el mouse */
  }
}