body.landing-page-active, body.landing-page-active * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.landing-page-active html, 
body.landing-page-active body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita el scroll */
}
